---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>loom</title>
    <link>https://loom.tronica.io</link>
    <description>Personal knowledge feed</description>
    <atom:link href="https://loom.tronica.io/feed.xml" rel="self" type="application/rss+xml" />
    {% for item in collections.recent %}
    <item>
      <title>{{ item.data.title | escape }}</title>
      <link>https://loom.tronica.io{{ item.url }}</link>
      <pubDate>{{ item.date | dateISO }}</pubDate>
      <guid isPermaLink="true">https://loom.tronica.io{{ item.url }}</guid>
      <description>{{ item.templateContent | escape }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
