---
title: Search
layout: base.html
eleventyExcludeFromCollections: true
---

<div class="search-page">
  <h1>Search</h1>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        excerptLength: 20,
        resetStyles: false
      });
    });
  </script>
</div>
